.btn_list {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.plug {
    text-align: center;
    font-size: 35px;
}

.btn_clients_list {
    cursor: pointer;
    margin: 15px 15px;
    padding: 0 15;
    color: rgb(99, 64, 1);
    
}
.btn_clients_list:hover {
    background-color: rgb(238, 9, 9);
}